* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* .btn {
  background: rgb(59, 130, 246);
  color: #ffffff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(4, 31, 105);
}

.btn-active {
  cursor: pointer;
  background-color: rgb(4, 31, 105);
} */

.btn:disabled,
.btn[disabled] {
  cursor: default;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.control {
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* .tip-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
} */

/* .draw-tip,
.delete-tip {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  padding: 10px 20px;
  border: 1px black solid;
  background-color: red;
  color: white;
  font-weight: bold;
} */

.hide {
  display: none;
}
