.sprotty {
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sprotty-graph {
  /* border: #000 solid 5px; */
}

.sprotty-hidden {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
}

.sprotty-popup {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid;
  max-width: 400px;
  min-width: 100px;
}

.sprotty-popup > div {
  margin: 10px;
}

.sprotty-popup-closed {
  display: none;
}

.sprotty-routing-handle {
  fill: #000;
}

.sprotty {
  height: calc(100vh - 100px);
}

/* .sprotty-edge {
  fill: none;
  stroke: black;
  stroke-width: 3px;
} */

.sprotty-graph,
.sprotty {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 80vh;
}

.sprotty-edge {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.sprotty-edge.selected {
  stroke: red;
}

.sprotty-node {
  fill: #c0e0fc;
  stroke: #444;
  stroke-width: 1;
}

.dummy .sprotty-node {
  fill: black;
}

.dummy-edge {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.sprotty-node.task:hover {
  opacity: 70%;
}

.ready-draw .sprotty-port,
.ready-draw-source .sprotty-port {
  fill: #0f0;
}

text {
  stroke-width: 0;
  stroke: #000;
  fill: #000;
  font-family: sans-serif;
  font-size: 10pt;
  text-anchor: middle;
}

.arrowhead {
  fill: black;
}

.sprotty-port {
  fill: #484;
}

/* .sprotty-label.node {
  font-size: 1.2rem;
} */

/* .sprotty-label.port {
  font-size: 0.8rem;
} */

svg {
  width: 100%;
  height: 100%;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: 8px solid #ddf;
  border-top: 8px solid #448;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mouseover {
  stroke: #88f;
}

.selected > rect {
  stroke-width: 3;
}

.port.sprotty-label {
  fill: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: bold;
}

.edge.sprotty-label {
  fill: rgba(42, 163, 82, 0.767);
  font-size: 10px;
  font-weight: bold;
}

.node-package {
  fill: #d0c8c0;
  stroke: #541;
}
