.sprotty {
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sprotty-hidden {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
}

.sprotty-popup {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid;
  max-width: 400px;
  min-width: 100px;
}

.sprotty-popup > div {
  margin: 10px;
}

.sprotty-popup-closed {
  display: none;
}

.sprotty-routing-handle {
  fill: #000;
}

.sprotty {
  height: calc(100vh - 100px);
}

.sprotty-edge.selected {
  /* stroke: red; */
  /* stroke-dasharray: 5, 5; */

  stroke-width: 2px;
  stroke-dasharray: 5;
  animation: edge-dash 10s linear infinite;
}

.edge-dash {
  stroke-dasharray: 5;
  animation: edge-dash 10s linear infinite;
}

.edge-dot {
  stroke-width: 0.5px;
  stroke-dasharray: 1;
  animation: edge-dot-animation 10s linear infinite;
}

@keyframes edge-dot-animation {
  to {
    stroke-dashoffset: -4; /* Adjust this value for the desired animation effect */
  }
}

@keyframes edge-dash {
  to {
    stroke-dashoffset: -200;
  }
}

.dummy .sprotty-node {
  fill: black;
  stroke: none;
}

.dummy-edge {
  fill: none;
  /* stroke: #333; */
  stroke-width: 2px;
}

.sprotty-node.task:hover {
  opacity: 70%;
}

.ready-draw .sprotty-port,
.ready-draw-source .sprotty-port {
  /* fill: #0f0; */
}

text {
  stroke-width: 0;
  stroke: #000;
  fill: #000;
  font-family: sans-serif;
  text-anchor: middle;
}

.node text {
  font-size: 10pt;
}

.package text {
  font-size: 20pt;
}

.port text {
  font-size: 8pt;
}
.node.text-node-child {
  font-size: 10pt;
}
text.label-port-node-child {
  font-size: 8pt;
}

/* .sprotty-label.node {
  font-size: 1.2rem;
} */

/* .sprotty-label.port {
  font-size: 0.8rem;
} */

svg {
  width: 100%;
  height: 100%;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: 8px solid #ddf;
  border-top: 8px solid #448;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selected > rect {
  stroke-width: 3;
}

.port.sprotty-label {
  fill: rgb(0, 0, 0);
  /* font-size: 10px; */
  font-weight: bold;
}

.edge.sprotty-label {
  fill: black;
  font-size: 10px;
  font-weight: bold;
}

.sprotty-node {
  /* stroke: #448; */
  stroke-width: 1;
  /* fill: #ddf; */
}

.sprotty-node.mouseover {
  /* fill: #dfd; */
  /* stroke: #88f; */
}

.sprotty-port.mouseover {
  /* stroke: #88f; */
}

.sprotty-node.selected {
  stroke-width: 3;
}

.sprotty-port {
  /* stroke: #448; */
  stroke-width: 1;
  /* fill: #66c; */
}

.sprotty-edge {
  stroke-width: 2;
}

.sprotty-edge.mouseover {
  stroke-width: 3;
}

.node-package {
  /* fill: #d0c8c0; */
  stroke: none;
}
.sprotty-edge .arrowhead {
  /* fill: #336; */
}

.node-package.mouseover {
  /* fill: #d0c8c0; */
  /* stroke: #541; */
}

.sprotty-button {
  fill: aquamarine;
  stroke: #000;
}

#sprotty-container_editLabelUi {
  z-index: 9;
}

.source-edge-selected {
  stroke: green !important;
}
.target-edge-selected {
  stroke: red !important;
}
